{% extends 'base.html.twig' %}

{% block title %}Plantes index{% endblock %}

{% block body %}
    <h1>Plantes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Species</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plante in plantes %}
            <tr>
                <td>{{ plante.id }}</td>
                <td>{{ plante.name }}</td>
                <td>{{ plante.description }}</td>
                <td>{{ plante.picture }}</td>
                <td>{{ plante.species }}</td>
                <td>{{ plante.createdAt ? plante.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('plantes_show', {'id': plante.id}) }}">show</a>
                    <a href="{{ path('plantes_edit', {'id': plante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('plantes_new') }}">Create new</a>
{% endblock %}
